<header class="container flex justify-between items-center py-6" >
  <div class="logo pl-4">
    <a href="/" class="text-orange-600 text-5xl font-bold">Unclassic</a>
  </div>
  <nav class="">
    <ul class="flex gap-8 text-xl">
      <li><a href="/">Home</a></li>
      <li><a href="/#shop">Shop</a></li>
      <li><a href="/#about">About us</a></li>
      <li><a href="/#testimonials">Testimonials</a></li>

    </ul>
  
    </div>
   
  </nav>
      
</header>

