<header class="flex flex-1 z-20 justify-between px-[10%] py-4 items-center ">
    <!-- <p class="text-[#c15a15] text-4xl font-bold">unClassic</p> -->
    <img src="../assets/logo1.png" class="w-52" alt="">
    <nav>

        <ul class="flex gap-10">
            <li><a href="#">Products</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">About us</a></li>
        </ul>

    </nav>
</header>