---
 layout: base.njk
 title: unClassic | Home
---

<!-- <section class="bg-orange-100 container grid grid-cols-2 my-4 rounded-3xl ">
<div class="py-32">
  <div class="text-left p-16 items-center">
    <h1 class="text-4xl font-bold text-gray-900 motion-preset-blur-down motion-duration-2000">TASTE THE MAGIC OF MUSHROOM</h1>
    <p class="text-lg text-gray-700 mt-4">Uncover the Extraordinary Health Benefits and Irresistible Flavors of Mushrooms: Nature’s Nutrient-Packed Treasure That Enhances Your Well-being and Elevates Every Meal with Unique Taste and Texture.</p>
    <a href="#order" class="inline-block mt-6 bg-orange-500 text-white py-2 px-4 rounded hover:bg-orange-600">Order Now</a>
  </div>
</div>
<div class="rounded-3xl" style="background: url(https://images.pexels.com/photos/5718116/pexels-photo-5718116.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center; background-size: cover;">

  
</section> -->
<!-- 
<section class="bg-orange-100 container my-4 rounded-3xl " style="background: url(https://images.pexels.com/photos/5718116/pexels-photo-5718116.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center; background-size: cover;">
  <div class="bg-zinc-900/30 text-center rounded-3xl text-white">
    <div class=" p-48 items-center">
      <h1 class="text-5xl font-bold motion-preset-blur-down motion-duration-2000">TASTE THE MAGIC OF MUSHROOM</h1>
      <p class="text-lg  mt-4">Uncover the Extraordinary Health Benefits and Irresistible Flavors of Mushrooms: Nature’s Nutrient-Packed Treasure That Enhances Your Well-being and Elevates Every Meal with Unique Taste and Texture.</p>
      <a href="#order" class="inline-block mt-6 bg-orange-500 text-white py-2 px-4 rounded hover:bg-orange-600">Order Now</a>
    </div>
  </div>

  </section> -->
  
  <section class="container bg-gray-100 text-gray-700 p-8 rounded-3xl grid grid-cols-4 gap-4">
 
      <div class="col-span-2 items-center pt-20">
        <p class="pl-4 text-2xl pb-2 motion-preset-blur-down motion-duration-2000">Indulges in Nature's Bounty</p>
        <h1 class="text-7xl text-orange-600 px-4 font-bold motion-preset-blur-down motion-duration-2000">TASTE THE MAGIC OF MUSHROOM</h1>
        <a href="#order" class="ml-4 inline-block mt-6 bg-orange-600 text-white py-3 px-10 rounded hover:bg-orange-700">Order Now</a>
      </div>
         </div>
      <div class="rounded-3xl h-[350px]" style="background: url(https://images.unsplash.com/photo-1585672840563-f2af2ced55c9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bXVzaHJvb20lMjBjb29raW5nfGVufDB8fDB8fHww) no-repeat bottom ;background-size: cover;"></div>
      <div class="rounded-3xl h-[350px]" style="background: url(https://images.unsplash.com/photo-1693428052256-232dc2a97355?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat bottom ;background-size: cover;"></div>
      

      <div class="rounded-3xl h-[350px] col-span-2" style="background: url(https://plus.unsplash.com/premium_photo-1671377384541-d5e6573a332f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat bottom ;background-size: cover;"></div>
      <div class="rounded-3xl   50px] col-span-2" style="background: url(https://unclassic.netlify.app/assets/image11.jpg) no-repeat bottom ;background-size: cover;"></div>
 

   
      
    
      <div class="rounded-3xl h-[350px]" style="background: url(https://images.unsplash.com/photo-1730043033919-46bd6332f302?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat bottom ;background-size: cover;"></div>
      <div class="rounded-3xl h-[350px]" style="background: url(https://plus.unsplash.com/premium_photo-1726783346698-aeeee98bd358?q=80&w=2053&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D  ) no-repeat bottom ;background-size: cover;"></div>   
      <div class="col-span-2 items-center px-4 pt-20">
        <p class="text-2xl ">Uncover the Extraordinary Health Benefits and Irresistible Flavors of Mushrooms: Nature’s Nutrient-Packed Treasure That Enhances Your Well-being and Elevates Every Meal with Unique Taste and Texture.</p>
        
   
    
  </section>