<header class="container ">
    <nav class="grid grid-cols-3 items-center py-6  rounded-full my-4 px-6">
        <div class="logo pl-4">
          <a href="/" class="text-orange-600 text-5xl font-bold">Unclassic</a>
        </div>
        <div class="nav-links text-center space-x-4">
          <a href="/" class="text-gray-700 hover:text-orange-600 hover:font-semibold transition duration-500 ease-in-out">Home</a>
          <a href="#about" class="text-gray-700 hover:text-orange-600 hover:font-semibold transition duration-500 ease-in-out">About Us</a>
          <a href="#products" class="text-gray-700 hover:text-orange-600 hover:font-semibold transition duration-500 ease-in-out">Products</a>
          <a href="#contact" class="text-gray-700 hover:text-orange-600 hover:font-semibold transition duration-500 ease-in-out">Contact</a>
        </div>
        <div class="cta-button text-right pr-4">
          <a href="#order" class="bg-orange-500 text-white py-2 px-4 rounded hover:bg-orange-600">Order Now</a>
        </div>
      </nav>
      
</header>