---
layout: 'base.njk'
title: unClassic Foods
---

<section class="grid grid-cols-2">
      <div class=" px-[10%] w-full bg-white h-full w-[50%]">

        <p class="text-[#6b5b4d] font-bold text-2xl  uppercase leading-relaxed mb-10 pt-28">Indulge in Nature’s Bounty: <br>
      
            <span class="text-[#c15a15] font-bold text-4xl uppercase  ">Taste the Magic of Mushrooms.</span>
        </p>
            <a href="#" class="border-2 px-6 py-3 text-xl">Order Now</a>  
        </div>
        <div class="w-50%">
        <img clas="w-[full]" src="https://images.unsplash.com/photo-1473093226795-af9932fe5856?q=80&w=1994&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    </div>
 
</section>

<article class="relative">
    <div class="px-[10%] py-10">
        <p class="text-2xl font-bold">Our Products</p>
        <p class="text-lg font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloremque.</p>
</article>