@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Lora', sans-serif;
}


#hero{
    opacity: 0.8;
}